.card{
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 1rem;

    border-radius: 1rem;

    font-size: 1.5rem;

    max-width: 400px;
    width: 100%;
}

.cardTop{
    display: flex;
    width: 100%;
    justify-content:space-between ;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.cardTop h2{
    display: flex;
    align-items: center;
}
.Temperatura-icon{
    display: flex;
    align-items: center;
    
}
.Temperatura-icon img{
    width: 55px;
    animation: pulse 2s infinite alternate;
}
.card ul{
    display: flex;
    justify-content: space-between;
}
.card ul li{
display: flex;
align-items: center;
}
.condicao{
    text-align: center;
    margin-bottom: 1rem;
}
.input-botao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
}
input{
    height: 2rem; 
    border-radius: 999px;
    background-color: var(--cor2);
    padding: 1rem;
}
.button{
    height: 2rem; 
    border-radius: 999px;
    background-color: #0073DB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    margin-left: 1rem;

    color: #FBB513;
    border: 3px solid #FBB513;

    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
  }

  